.custom-section {
    line-height: 1.6; 
    color: #333;
}

.custom-section h1, .custom-section h2, .custom-section h3, .custom-section h4, .custom-section h5, .custom-section h6 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 800;
}

.custom-section h1 {
    font-size: 2.25rem; 
}

.custom-section h2 {
    font-size: 1.75rem; 
    border-bottom: 1px solid #37393d;
}

.custom-section h3 {
    font-size: 1.25rem; 
}

.custom-section p {
    margin-top: 0;
    margin-bottom: 1em;
}

.custom-section a {
    text-decoration: underline;
}

.custom-section ul {
    list-style-type: disc; 
    list-style-position: inside; 
    padding-left: 20px; 
}

.custom-section ol {
    list-style-type: decimal;
    list-style-position: inside; 
    padding-left: 20px; 
}

.custom-section li {
    line-height: 1.6;
    margin-block: 0.5em;
}

.custom-section img {
    max-width: 100%;
    height: auto;
}

.custom-section table {
    width: 100%;
    border-collapse: collapse;
}

.custom-section th, .custom-section td {
    text-align: left;
    border: 1px solid #ddd;
    padding: 8px;
}
