.custom-section {
    line-height: 1.6; 
    color: #333;
}

.custom-section h1, .custom-section h2, .custom-section h3, .custom-section h4, .custom-section h5, .custom-section h6 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 800;
}

.custom-section h1 {
    font-size: 2.25rem; 
}

.custom-section h2 {
    font-size: 1.75rem; 
    border-bottom: 1px solid #37393d;
}

.custom-section h3 {
    font-size: 1.25rem; 
}

.custom-section p {
    margin-top: 0;
    margin-bottom: 1em;
}

.custom-section a {
    text-decoration: underline;
}

.custom-section ul {
    list-style-type: disc; 
    list-style-position: inside; 
    padding-left: 20px; 
}

.custom-section ol {
    list-style-type: decimal;
    list-style-position: inside; 
    padding-left: 20px; 
}

.custom-section li {
    line-height: 1.6;
    margin-block: 0.5em;
}

.custom-section img {
    max-width: 100%;
    height: auto;
}

.custom-section table {
    width: 100%;
    border-collapse: collapse;
}

.custom-section th, .custom-section td {
    text-align: left;
    border: 1px solid #ddd;
    padding: 8px;
}

.custom-section code {
    background-color: #1b1d1e;
    padding: 4px;
    border: 1px solid #37393d;
    border-radius: 3px;
    font-size: 15px;
}

.custom-section span,
.custom-section button {
  padding-left: 1.5rem; 
  padding-right: 1.5rem; 
  padding-top: 0.5rem; 
  padding-bottom: 0.5rem; 
  font-size: 1.125rem; 
  font-weight: bold; 
  transition: all 0.3s; 
  border: 1px solid #4b5563; 
  border-radius: 0.75rem; 
  color: #5a67d8; 
  cursor: pointer;
}

.custom-section span:hover,
.custom-section button:hover {
  background-color: #5a67d8; 
  color: black; 
  box-shadow: 0 4px 6px -1px rgba(90, 103, 216, 0.4), 0 2px 4px -1px rgba(90, 103, 216, 0.4); 
}

  
